@model KanatStore.UI.Models.ProductDetailViewModel
@{
    ViewBag.Title = "Thêm mới";
}
@*@using(Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" } ))*@

<!DOCTYPE html>
<html>
<head>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
</head>
<body>
    <h1>Thêm mới</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Name" class="control-label"></label>
                    <input asp-for="ProductDetail.Name" class="form-control" />
                    <span asp-validation-for="ProductDetail.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Length" class="control-label"></label>
                    <input asp-for="ProductDetail.Length" class="form-control" />
                    <span asp-validation-for="ProductDetail.Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Width" class="control-label"></label>
                    <input asp-for="ProductDetail.Width" class="form-control" />
                    <span asp-validation-for="ProductDetail.Width" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Thickness" class="control-label"></label>
                    <input asp-for="ProductDetail.Thickness" class="form-control" />
                    <span asp-validation-for="ProductDetail.Thickness" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Origin" class="control-label"></label>
                    <input asp-for="ProductDetail.Origin" class="form-control" />
                    <span asp-validation-for="ProductDetail.Origin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="ProductDetail.Image" class="control-label"></label>
                        <input asp-for="ProductDetail.Image" class="form-control" type="file" onsubmit="AJAXSubmit(this);return false;" />
                    <span asp-validation-for="ProductDetail.Image" class="text-danger"></span>*@
                    <label asp-for="ProductDetail.Image" class="control-lable">Hình ảnh</label>
                    <p>
                        <button type="button" onclick="$('#thumbnail_file').click()" class="btn btn-warning" style="margin-top: 10px;" id="btn_upload_file">Tải ảnh lên</button>
                    </p>
                    <input style="display: none;" class="form-control upload-thumbnail margin-bottom-15" type="file" id="thumbnail_file"/>
                    <input onchange="changeThumbnail()" asp-for="ProductDetail.Image" class="form-control" style="display: none;" />
                    <span asp-validation-for="ProductDetail.Image" class="text-danger"></span>
                    <img src="/Images/noimg.jpg" style="width:100%; display; max-height: 200px" id="thumbnail-img" alt="ảnh"/>
                    @*@Html.LabelFor(model=>model.ProductDetail.Image, htmlAttributes: new{@class="control-label col-md-2"})
                    <div class="col-md-10">
                        <input type="file" name="Image" id="Image" style="width: 100%;"/>
                    </div> *@      
                        @*<img src="/Images/noimage.jpg" alt="anh" width="100"/>
                        <br/>
                        <label for="idfile">Chọn ảnh</label>
                        <input name="ImgFile" type="file" class="img-rounded" id="idfile" onchange="changeFile(event)"/>*@
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Price" class="control-label"></label>
                    <input asp-for="ProductDetail.Price" class="form-control" />
                    <span asp-validation-for="ProductDetail.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.ImportPrice" class="control-label"></label>
                    <input asp-for="ProductDetail.ImportPrice" class="form-control" />
                    <span asp-validation-for="ProductDetail.ImportPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Quantity" class="control-label"></label>
                    <input asp-for="ProductDetail.Quantity" class="form-control" />
                    <span asp-validation-for="ProductDetail.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Unit" class="control-label"></label>
                    <input asp-for="ProductDetail.Unit" class="form-control" />
                    <span asp-validation-for="ProductDetail.Unit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Status" class="control-label"></label>
                    <input asp-for="ProductDetail.Status" class="form-control" />
                    <span asp-validation-for="ProductDetail.Status" class="text-danger"></span>
                </div>
                @*Sử dụng textarea để nhập dữ liệu cho Description*@
                <div class="form-group">
                    @*<label asp-for="ProductDetail.Description" class="control-label"></label>
                    <textarea asp-for="ProductDetail.Description" class="form-control"/>
                    <span asp-validation-for="ProductDetail.Description" class="text-danger"></span>*@
                    <label asp-for="ProductDetail.Description" class="control-label"></label>
                    <textarea asp-for="ProductDetail.Description" class="form-control content-editor" id="contentMota"></textarea>
                    <span asp-validation-for="ProductDetail.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Danh mục</label>
                    <select asp-for="ProductDetail.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Quay lại</a>
    </div>
    @if (ViewBag.error != null)
    {
        <div class="text-danger">
            @ViewBag.error
        </div>
    }
@section JS {
<script type="text/javascript">
    $(function() {
            changeThumbnail()
    })
    
    function changeThumbnail() {
        if ($('#ProductDetail_Image').val() != '') {
            $('#thumbnail-img').attr('src', $('#ProductDetail_Image').val())
            $('#thumbnail-img').show()
        } else {
             $('#thumbnail-img').hide()
                }
        }
    $("#thumbnail_file").change(function (e) {
        if ($(this).val() != "") {
            console.log($('#ProductDetail_Image').val());
            $('#btn_upload_file').html('Đang tải ảnh...')
            uploadFile(e,'ProductDetail_Image')
        }
    });

        $('#ProductDetail_Image').change(function() {
        console.log('haha' + $('#ProductDetail_Image').val())
        $('#btn_upload_file').html('Tải ảnh lên')
        if ($('#ProductDetail_Image').val() == "") {
            $('#thumbnail-img').hide()
        } else {
            $('#thumbnail-img').show()
        }
        $('#thumbnail-img').attr('src', $('#ProductDetail_Image').val())
     });
</script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
                $("#contentMota").summernote({
                height: 300,
                minHeight: null,
                maxHeight: null,
                codemirror: {
                    theme: "monokai"
                },
                callbacks: {
                    onImageUpload: function (files) {
                        for (var i = 0; i < files.length; i++) {
                           
                            uploadImage(files[i]);
                        }
                    }
                },
                fontSizes: ['12', '14', '16', '18', '24', '36', '48'],
                toolbar: [
                      ['style', ['style']],
                      ['font', ['bold', 'underline', 'clear']],
                      ['fontname', ['fontname']],
                      ['fontsize', ['fontsize']],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['table', ['table']],
                      ['insert', ['link', 'picture', 'video']],
                      ['view', ['fullscreen', 'codeview', 'help']],
                ],
            });
        });
        </script>
}
</body>
</html>





