@model KanatStore.UI.Models.ProductViewModel
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Chi tiết sản phẩm</h1>
    <div class="Detail-Img">
        <div class="Detail">
            <table>

            </table>
        </div>
        <div class="Img">

        </div>
    </div>
    <div class="Decrip"> 
         
    </div>
</body>
</html>
